@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.bg-conversion{
    background-color: #E5F5FE;
    padding: 30px 0px;
}
.conversion-title{
    margin: 0px;
    font-size: 1.3rem;
    color: #488FB1;
    font-weight: bolder;
    margin-bottom: 20px;
}
.btn-calculate{
    text-align: center;
    margin-top: 25px;
}
.btn-calculate button{
    background: rgb(193,248,207);
    background: linear-gradient(270deg, rgba(193,248,207,1) 0%, rgba(79,211,196,1) 100%);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 50px;
    border-radius: 10px;
    color: #488FB1;
    font-weight: 900;
}